.report{'data-chart-type' => chart_type || 'bar'}
  %table
    %caption= report.title
    %thead
      %tr
        %td
        - report.x_axis_labels.each do |l|
          %th= l
    %tbody
      - report.data.each_with_index do |row, i|
        %tr
          %th= report.y_axis_labels[i]
          - row.each do |cell|
            %td= cell

